/*Container*/
.Pagination-Section {
    display: flex;
    padding: 0px;
    gap: 4px;
    width: 170px;
    height: 24px;
}


.Page-List {
    display: flex;
    flex-direction: row;
}


/*Frame*/
.Page-List {
    padding: 0px;
    gap: 6px;
    width: 90px;
    height: 22px;
}

#Page-Number-One-Frame {
    font-size: 14px;
    letter-spacing: 0.04em;
    width: 24px;
    height: 22px;
    border-radius: 60px;
    color: #FFFFFF;
    background: #0155A1;
    box-shadow: 0px 0px 4px 1px rgba(26, 61, 81, 0.25);
}

